{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}TimeClock - Register User{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 style="font-family: 'Sofia Pro Soft'; -webkit-font-smoothing: antialiased ">Register</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}
