{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}TimeClock - Home{% endblock %}

{% block page_content %}
    {%  if current_user.is_authenticated %}
        <div class="row" style="padding-bottom:10px">
            <div class="col-md-4" style="height:300px">
                <div>
                    {{ wtf.quick_form(form) }}
                </div>
            </div>

        </div>
    {% endif %}

    <hr>




{% endblock %}



