{% extends "base.html" %}

{% block title %}TimeClock - Inactive User{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1 style="font-family: 'Sofia Pro Soft'; -webkit-font-smoothing: antialiased"> ERROR - Inactive User
             </h1>
    </div>


    <div>
        <h3 style="font-family: 'Sofia Pro Soft'; -webkit-font-smoothing: antialiased">It seems that your account has been marked as an inactive user!</h3>
        <h4 style="font-family: 'Sofia Pro Soft'; -webkit-font-smoothing: antialiased">If you believe this is an error,
            please contact your supervisor.</h4>
    </div>
{% endblock %}