{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}TimeClock - Login{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1 style="font-family:'Sofia Pro Soft'; -webkit-font-smoothing: antialiased">Login</h1>
    </div>
    <div class="col-md-4">
        <form method="post" action="{{ url_for('auth.login') }}">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
                {% for err in form.email.errors %}
                  <div class="text-danger small">{{ err }}</div>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
                {% for err in form.password.errors %}
                  <div class="text-danger small">{{ err }}</div>
                {% endfor %}
            </div>

            {{ form.submit(class="btn btn-primary") }}
        </form>
        <a href="{{ reset_url }}" style="float:right">Forgot your password?</a>
    </div>
{% endblock %}
