# Flask Configuration
FLASK_APP=timeclock.py
FLASK_ENV=development
SECRET_KEY=change-me-to-random-secret-key

# Database Configuration
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@db:5432/timeclock

# Optional: Mail Configuration
MAIL_SERVER=localhost
MAIL_PORT=2500
MAIL_USE_TLS=False
MAIL_USERNAME=
MAIL_PASSWORD=

# Optional: ReCAPTCHA Configuration
RECAPTCHA_SITE_KEY_V3=
RECAPTCHA_SECRET_KEY_V3=