# Flask
FLASK_ENV=production
SECRET_KEY=change-me

# Postgres (compose will start db service)
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD}@db:5432/timeclock

# Optional mail/recaptcha
MAIL_PORT=2500
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_SITE_KEY_V3=
RECAPTCHA_SECRET_KEY_V3=