{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}TimeClock - History{% endblock %}

{% block page_content %}
    <div class="row">
        <button data-toggle="collapse" data-target="#filter-form" class="btn btn-info" style="float:left">Filter
            Results
        </button>
        <form action="/clear_filter" method="POST" style="float:left; margin-left: 5px;">
            <input type="submit" value="Clear Filter" class="btn btn-info">
        </form>

         <div style="float:right">
            {{ wtf.quick_form(exportform) }}
        </div>
{#        <div style="float:right; margin-right: 5px">#}
{#            <button data-toggle="collapse" data-target="#advanced-timesheet-form" class="btn btn-success"#}
{#                    style="float:left">#}
{#                Advanced Timesheets#}
{#            </button>#}
{#        </div>#}
        <div style="float:right; margin-right: 5px">
            <form action="/download_timesheet" method="POST">
                {% for event in generation_events %}
                    <input type="hidden" name="event" value="{{ event }}">
                {% endfor %}
                <input type="submit" value="Generate Timesheet" class="btn btn-success">
            </form>
        </div>
        <div style="float:right; margin-right:5px">
            <form action="/download_invoice" method="POST">
                {% for event in generation_events %}
                    <input type="hidden" name="event" value="{{ event }}">
                {% endfor %}
                <input type="submit" value="Generate Invoice" class="btn btn-success">
            </form>
        </div>
    </div>
    <br/>

    {#  Collapsible form for filter options  #}
    <div id="filter-form" class="collapse">
        <div class="row" style="margin-bottom: 10px">
            <div class="col-md-8 col-md-offset-2">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>

    {# Collapsible form for multiple timesheet generation#}
    <div id="advanced-timesheet-form" class="collapse">
        <div class="row" style="margin-bottom: 10px">
            <div class="col-md-8 col-md-offset-2">
                {{ wtf.quick_form(advtimesheetform) }}
            </div>
        </div>
    </div>



    <div class="row">
        {% if query_has_results %}
            <table class="table">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Clocked</th>
                    <th>Division</th>
                    <th>Tag</th>
                    <th>Time</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.user.email }}</td>
                        <td>{{ event.user.first_name }}</td>
                        <td>{{ event.user.last_name }}</td>
                        <td>
                            {% if event.type %}
                                <span style="color:green">IN</span>
                            {% else %}
                                <span style="color:orange">OUT</span>
                            {% endif %}
                        </td>
                        <td>{{ event.user.division }}</td>
                        {#                    Use tag_id to find corresponding name in tag table #}
                        {% for tag in tags %}
                            {% if tag.id==event.user.tag_id %}
                                <td>{{ tag.name }}</td>
                            {% endif %}
                        {% endfor %}
                        {% if event.user.tag_id==None %}
                            <td>None</td>
                        {% endif %}
                        <td>{{ event.time.strftime("%b %d, %Y %H:%M") }}</td>

                        <!-- EVENT DELETE BUTTON -->
                        <td>
                            {% if event.user.id != current_user.id %}
                                <form method="POST" action="/all_history" name="deleteform">
                                {% for field in deleteform %}
                                    {% if field.type == 'SubmitField' %}
                                        {% if field.name == 'delete' %}

                                            <input type="hidden" value="{{ event.id }}" name="event_id">
                                            <button type="submit" class="btn btn-danger" value="{{ field.name }}"
                                                    name="{{ field.name }}"
                                                    id="{{ field.name }}"
                                                    style="padding: 4px 19px 1px; font-size: 11px;">
                                                <span class="glyphicon glyphicon-trash"></span>

                                            </button>
                                        {% endif %}
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                    {% if field.errors %}
                                        <ul class=errors>
                                            {% for error in field.errors %}
                                                <li>{{ error }}</li> <!-- is returning: 'CSRF TOKEN MISSING' -->
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </form>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="col-md-8 col-md-offset-4">
                {{ macros.pagination_widget(pagination, '.all_history') }}
            </div>
        {% else %}
            {% include 'includes/empty_query.html' %}
        {% endif %}


    </div>

    <div class="row">
        <button data-toggle="collapse" data-target="#add-form" class="btn btn-info" style="float:left"> Add
            Event
        </button>
        <div id="add-form" class="collapse">
            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-8 col-md-offset-2">
                    {{ wtf.quick_form(addform) }}
                </div>
            </div>
        </div>
    </div>



{% endblock %}
