{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}TimeClock - Review TimePunches{% endblock %}

{% block page_content %}
    <div class="row">
         <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Clocked</th>
                    <th>Time</th>
                    <th>Reason</th>
                    <th>Division</th>
                    <th>Tag</th>

                </tr>
            </thead>

            <tbody>
                {% for event in timepunch_list %}
                <tr>
                    <td>{{ event.user.email }}</td>
                    <td>{{ event.user.first_name }}</td>
                    <td>{{ event.user.last_name }}</td>
                    <td>{% if event.type %}
                        <span style="color:green">IN</span>
                        {% else %}
                        <span style="color:orange">OUT</span>
                        {% endif %}
                    </td>
                    <td>{{ event.time.strftime("%b %d, %Y %H:%M:%S") }}</td>
                    <td>{{ event.note }}</td>
                    <td>{{ event.user.division }}</td>
{#                    Use tag_id to find corresponding name in tag table #}
                    {% for tag in tags %}
                        {% if tag.id==event.user.tag_id %}
                            <td>{{ tag.name }}</td>
                        {% endif %}
                    {% endfor %}
                    {% if event.user.tag_id==None %}
                        <td>None</td>
                    {% endif %}
                    <td>
                        <form method=post action="/review_timepunches">
                            {{ form.hidden_tag() }}
                            <input type="hidden" value="{{ event.id }}" name="event_id">
                            {% for field in form %}
                                {% if field.type == 'SubmitField' %}
                                    <button type="submit" value="{{ field.name }}" > {{ field.name }} </button>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                {% if field.errors %}
                                    <ul class=errors>
                                    {% for error in field.errors %}
                                      <li>{{ error }}</li> <!-- is returning: 'CSRF TOKEN MISSING' -->
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endfor %}
                        </form>
                     </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{%  endblock %}