{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"
          type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"
          type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/invoice.css') }}" media="all">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"
          media="all">

{% endblock %}

{% block content %}
    <div class="page" style="font-family: 'Sofia Pro Soft'">
        <div class="row">
            <span class="header-element-left">Employee Name: {{ employee.first_name }} {{ employee.last_name }}</span>
            <span style="float:right">Position: {{ employee.tag.name }}</span>
            <span style="float:right; margin-right: 10px">Division: {{ employee.division }}</span>
        </div>
        {% if object_name != None or object_code != None or budget_code != None %}
            <div class="row">
                {% if object_name != None %}
                    <span class="header-element-left">Object Name: {{ object_name }} </span>
                {% endif %}

                {% if object_code != None %}
                    <span class="header-element-left">Object Code: {{ object_code }} </span>
                {% endif %}

                {% if budget_code != None %}
                    <span class="header-element-left">Budget Code: {{ budget_code }} </span>
                {% endif %}
            </div>
            <br>
        {% endif %}
        <hr>

        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Time In</th>
                    <th>Time Out</th>
                    <th>Hours Worked</th>
                    <th>Pay Rate</th>
                    <th>Earnings</th>

                </tr>
                </thead>
                <tbody>
                {% for day_event in day_events_list %}
                    <tr>
                        <td>{{ day_event['date'] }}</td>
                        <td>{{ day_event['time_in'] }}</td>
                        <td>{{ day_event['time_out'] }}</td>
                        <td>{{ "{0:.2f}".format(day_event['hours']) }}</td>
                        <td>${{ "{0:.2f}".format(day_event['rate']) }}</td>
                        <td>${{ "{0:.2f}".format(day_event['earnings']) }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
        Total Hours: {{ "{0:.2f}".format(total_hours) }}
        <br>
        Total Earnings: ${{ "{0:.2f}".format(total_earnings) }}
        <br>
        <br>

        <div class="row">
        <span style="font-size: 8px;">
            I hereby certify the following: The time shown correctly represents my attendance and activities for the week indicated. If I am an employee eligible to earn overtime compensation under the FLSA and/or a collective bargaining agreement, I also certify that I have requested compensation for any time that I worked in excess of my scheduled hours and that any time outside my scheduled hours, i.e. when I may have logged in/out earlier/later than my scheduled time, for which I have not requested compensation, was time not worked.
        </span>
        </div>

        <br>
        <br>

        <div class="row">
            <span style="float: left">Employee Signature:
                <div class="sign-line" style="width:250px"></div>
            </span>
            <span style="float: right; margin-left: 10px">Date:
             <div class="sign-line" style="width:150px"></div>
            </span>
        </div>

        <div class="row" style="margin-top:10px">
            <span style="float: left">Approver Signature:
                <div class="sign-line" style="width:250px"></div>
            </span>
            <span style="float: right; margin-left: 10px">Date:
             <div class="sign-line" style="width:150px"></div>
            </span>
        </div>


        <div class="row" id="footer">
            <hr>
            <span style="float: left;">Generated by: {{ current_user.first_name }} {{ current_user.last_name }}
                ({{ current_user.email }})
            </span>

            <span style="float: right">{{ time.strftime("%b %d, %Y %l:%M:%S %p") }}</span>
        </div>

    </div>
{% endblock %}

{% block scripts %} <!-- Include any JS scripts here -->
    {{ super() }}
    {{ moment.include_moment() }}
    <script>
        window.onload = function () {
            window.print();
        }
    </script>
{% endblock %}