{% extends "base.html" %}

{% block title %}TimeClock - Page Not Found{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 style="font-family: 'Sofia Pro Soft'; -webkit-font-smoothing: antialiased"> ERROR - PAGE NOT FOUND (404) </h1>
</div>


    <div>
        <h3 style="font-family: 'Sofia Pro Soft'; -webkit-font-smoothing: antialiased">Looks like there's nothing here!</h3>
        <h4 style="font-family: 'Sofia Pro Soft'; -webkit-font-smoothing: antialiased">If you believe this is an error, please contact the site administrator.</h4>
    </div>
{% endblock %}
