{% extends "base.html" %}

{% block title %}TimeClock - Page Not Found{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1 style="font-family: 'Sofia Pro Soft'; -webkit-font-smoothing: antialiased"> INTERNAL SERVER ERROR
            (500) </h1>
    </div>


    <div>
        <h3 style="font-family: 'Sofia Pro Soft'; -webkit-font-smoothing: antialiased">Uh oh, it looks like something
            went wrong!</h3>
        <h4 style="font-family: 'Sofia Pro Soft'; -webkit-font-smoothing: antialiased">If you believe this is an error,
            please contact the site administrator.</h4>
    </div>
{% endblock %}