{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}TimeClock - History{% endblock %}

<!-- TODO: IMPLEMENT FILTER GUI [WTF] -->

<!-- TODO: IMPLEMENT CALENDAR VIEW, CLICKABLE DATE EVENTS -->

{% block page_content %}

    <div class="row">
       {{ wtf.quick_form(form) }}
    </div>

    <div class="row">
     <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Pay Start</th>
                    <th>Pay End</th>
                    <th>Rate</th>
                </tr>
            <tbody>
                {% for pay in pays %}
                <tr>
                    <td>{{ pay.user.email }}</td>
                    <td>{{ pay.start.strftime("%b %d, %Y") }}</td>
                    <td>{{ pay.end.strftime("%b %d, %Y") }}</td>
                    <td>{{ pay.rate }}
                <tr>
                {% endfor %}
     </table>
    </div>
{% endblock %}
