{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}TimeClock - History{% endblock %}

<!-- TODO: IMPLEMENT FILTER GUI [WTF] -->

<!-- TODO: IMPLEMENT CALENDAR VIEW, CLICKABLE DATE EVENTS -->

{% block page_content %}
     <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>

    <div class="col-md-4">
        <form action="/download_timesheet" method="POST">
            {% for event in events %}
            <input type="hidden" name="{{ event }}">
            {% endfor %}
            <input type="submit" value="Generate Timesheet" name="Generate Timesheet">
        </form>
    </div>

        <div class="col-md-4">
        {% for event in events %}
            <p>{{ event }}</p>
        {% endfor %}
    </div>


{% endblock %}
