{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}TimeClock - Home{% endblock %}

{% block page_content %}
    {%  if current_user.is_authenticated %}
    <h1> Welcome, {{ current_user.username }} with role {{ current_user.role }}</h1>
    {% endif %}

    {% if current_user.is_administrator() %}
    <h2>You have admin access to the TimeClock application</h2>
    {%  endif %}

    {%  if current_user.is_authenticated %}

         {% if current_user.clocked_in %}
             <h1>You last clocked in at {{ last_event }}</h1>
         {% else %}
             <h1>You last clocked out at {{ last_event }}</h1>
         {% endif %}

        {{ current_user.clocked_in }}

    <div class="col-md-4">
    {{ wtf.quick_form(form) }}
    </div>
    {% endif %}
{% endblock %}



