{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}TimeClock - Home{% endblock %}

{% block page_content %}
    {%  if current_user.is_authenticated %}
    <h1> Welcome, {{ current_user.first_name }}. You have {{ current_user.role.name }} access to the TimeClock site.</h1>

    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
    {% endif %}


    {% if current_user.is_administrator() %}
        <div class="col-md-4">
            <h2>Currently clocked in:</h2>
            {% for user in clocked_in_users %}
                <ul>
                    <li>
                    {{ user.first_name }} {{ user.last_name }} | {{ user.email }}
                    </li>
                </ul>
            {% endfor %}
        </div>
    {% endif %}


    {%  if current_user.is_authenticated and last_event != None %}
        <div class="col-md-4">
        {% if current_user.clocked_in %}
             <h4>You last clocked in at {{ last_event }}</h4>
         {% else %}
             <h4>You last clocked out at {{ last_event }}</h4>
         {% endif %}
        </div>
    {% endif %}

{% endblock %}



